body {
  background-color: #444;
}

.super-contenedor {
  margin: 0 auto;
  padding: 30px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #649ff7;
}
.super-contenedor .ejercicio {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  row-gap: 20px;
  background-color: rgba(192, 192, 192, 0.445);
  padding: 30px;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.super-contenedor .ejercicio h1.title {
  font: normal 24px/1.5 "Open Sans", sans-serif;
  color: #86251e;
}
.super-contenedor .ejercicio .small-blue-square {
  width: 100px;
  height: 100px;
  background-color: rgb(97, 97, 255);
  border-radius: 50%;
}
.super-contenedor .ejercicio .big-red-square {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 96, 96);
  border-radius: 10%;
}
.super-contenedor .ejercicio .frame:hover {
  transform: rotate(15deg);
  transition: 500ms;
}
.super-contenedor .ejercicio .frame {
  transform: rotate(0deg);
  transition: 500ms;
}
.super-contenedor .ejercicio .boton, .super-contenedor .ejercicio .cancelar, .super-contenedor .ejercicio .confirmar {
  box-sizing: border-box;
  color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  padding: 12px 40px;
  cursor: pointer;
}
.super-contenedor .ejercicio .confirmar {
  background-color: #87bae1;
  float: left;
}
.super-contenedor .ejercicio .cancelar {
  background-color: #e4749e;
  float: right;
}
.super-contenedor .ejercicio .contenedor01 {
  width: 300px;
  height: 50px;
  background-color: #444;
}
.super-contenedor .ejercicio .contenedor02 {
  width: 150px;
  height: 50px;
  background-color: #e4749e;
}
.super-contenedor .ejercicio .contenedor03 {
  width: 60px;
  height: 50px;
  background-color: bisque;
}
.super-contenedor .ejercicio .contenedor04 {
  width: 1500px;
  height: 50px;
  background-color: yellow;
}